
<!DOCTYPE html>
<html>
<head>
	<title>Authentication</title>
</head>
<body>

	<h2>Welcome! please login or signup</h2>

	<a href="/auth/signup">Signup</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="post/results">Profile</a>

</body>
</html>